body {
    background-color: navy;
}


.container {
    display: grid;
    background-color: #4875cf;
    margin: 150px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

[class^="item"] {
    border: 2px solid black;
    display: grid;    ;
}

.five {
    height: 150px;
    width: 150px;
    background-color: coral;
    display: inline-block;
}


.one {
    height: 150px;
    width: 150px;
    background-color: coral;


}

.two {
    background-color: brown;
    justify-self: stretch;
}

.three {
    height: 100px;
    width: 100px;
    background-color: forestgreen;
    align-self: center;
}

.four {
    height: 150px;
    width: 150px;
    background-color: teal;
}



/*.container {
    display: grid;
    gap: 6px;
}


.item3 {
    grid-row: 1/4;
    grid-column: 1/3;
}

.item2 {
    grid-row: 1/3;
}


.container {
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "header header header header" "content1 content1 . menu" "footer footer footer footer";
}

.item1 {
    grid-area: header;
}

.item2 {
    grid-area: content1;
}

.item3 {
    grid-area: footer;
}

.item4 {
    grid-area: menu;
}

.container {
    display: grid;
    grid-template-rows: 1fr 1fr ;
    grid-template-columns: 1fr 2fr 3fr 1fr ;
    gap: 25px;
}


[class^="item"] {
    background-color: white;
}
*/






/* [class^="item"] {
   display: inline ;
}

.container {
    display: inline-block;
}

.one {
    height: 150px;
    width: 150px;
    background-color: aquamarine;
    display: inline-block;
}*/